body{
    margin: 0;
}

.p-title{
    display: block;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
}

.p-title h3{
    font-size: 3rem;

}

.img-container{
   display: flex;
   align-items: center;
   justify-content: center;
}
.project-block 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.image-block{
    padding: 0 4px;
}
.image-block img{
    margin-top: 8px;
    margin-left: 8px;
    vertical-align: middle;
    max-width: 250px;
    height: auto;
}

.image-block img:hover{
    transform: scale(1.01);
    opacity: 0.9;
}


@media screen and (max-width: 800px) {
    .project-block {
        display: block;
        align-items: center;
    }
   
}





