body{
    margin: 0;
}

.p-title{
    display: block;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
}

.p-title  h3{
    font-size: 3rem;
}

.p-title img{
    width: 250px;
    height: auto;
}

.head-title{
    width: 50%;
    align-items:center;
    height: auto;
    margin: auto;
}
.head-title h2 h3{
    text-align: center;
}

.img-container{
   display: flex;
   align-items: center;
   justify-content: center;
}
.project-block 
{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    justify-content: center;
    height: auto;
    margin-left: auto;
   
}
.project-block h2 h5{
    text-align: center;
   align-items: center;
}
.project-block p{
    width: 60%;
}

.image-block{
    margin-bottom: 5rem;
}

.image-block img{
    margin-top: 8px;
    margin-left: 8px;
    vertical-align: middle;
    max-width: 250px;
    height: auto;
}

.image-block img:hover{
    transform: scale(1.01);
    opacity: 0.9;
}


@media screen and (max-width: 800px) {
    .head-title {
        width: 80%;
        align-items: center;
        text-align: justify;
    }
    .head-title h3 {
        align-items: center;
    }

    .project-block {
        margin-left: 9rem;
        margin-right: 0;
       
    }

    .project-block p{
        width: 80%;
        text-align: justify;
    }
   
}





